<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
                <%- include('../partials/navigation') %>

                    <main>

                        <%- defineContent('hero-section') %>
                            <%# The index view is the "body" that will be supplied to the layout. %>
                                <%- body %>

                                    <%- defineContent('feature-article1') %>

                                        <%- defineContent('feature-article2') %>

                                            <%- defineContent('feature-article3') %>
                    </main>
                    <%- include('../partials/footer') %>
        </div>
    </body>

</html>